<app-top-message></app-top-message>  
<div class="row input"> 
    <div class="col-sm-12 col-md-6">
        <label class="input" for="">
            <span>ORDEM DE SERVIÇO </span>
            <span *ngIf="command == 'editing'">
                / <a href="#" onclick="return null" (click)="newTestFromServiceOrder()">  REPETIR TESTE</a>
            </span>              
        </label> 
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" 
                placeholder="Digite a ordem de serviço"
                (input)="emitUpdateTestEvent()"
                aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-lg" 
                [(ngModel)]="editingTest.serviceOrder"
                [disabled]="command == 'editing'"
            >
        </div>
    </div>      
    <div class="col-sm-12 col-md-6">
        <label class="input" for="">MODELO INJETOR</label>
        <div class="input-group input-group-lg">
            <select class="form-select" aria-label="Default select example" 
                (change)="emitUpdateTestInjectorEvent()"
                [(ngModel)]="editingTest.injectorId" 
                [disabled]="command == 'editing'">
                <option value="0" selected>Selecione</option>
                <option *ngFor="let i of injectorList" [value]="i.id">{{i.model}}</option>
            </select>
        </div>
    </div>
</div>
<div class="row input">
    <div class="col-sm-12 col-md-6">
        <label class="input" for="">PLANO</label>
        <div class="input-group input-group-lg">
            <select class="form-select" aria-label="Default select example" 
                (change)="emitUpdateTestPlanEvent()"
                [(ngModel)]="editingTest.planId" 
                [disabled]="command == 'editing'">
                <option value="0"selected>Selecione</option>
                <option *ngFor="let p of planList" [value]="p.id">{{p.code}}</option>
            </select>
        </div>
    </div> 
    <div class="col-sm-12 col-md-6">
        <label class="input" for="">VEÍCULO</label>
        <div class="input-group input-group-lg">
            <select class="form-select" aria-label="Default select example" 
                (change)="emitUpdateTestEvent()"
                [(ngModel)]="editingTest.vehicleId" 
                [disabled]="command == 'editing'">
                <option value="0"selected>Selecione</option>
                <option *ngFor="let d of vehicleList" [value]="d.id">{{d.plate}}</option>
            </select>
        </div>
    </div>   
</div>
<div class="row input">
    <div class="col-sm-12 col-md-6">
        <label class="input" for="">NÚMERO INJETOR</label>
        <div class="input-group input-group-lg">
            <select class="form-select" aria-label="Default select example" 
                (change)="emitUpdateTestEvent()"
                [(ngModel)]="editingTest.injectorNumber" 
            >
                <option value="0"selected>Selecione</option>
                <option *ngFor="let n of numberList" [value]="n">{{n}}</option>
            </select>
        </div>
    </div> 
    <div class="col-sm-12 col-md-6">
        <label class="input" for="">CÓDIGO IMA</label>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" 
                placeholder="Digite o código IMA"
                (input)="emitUpdateTestEvent()"
                aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-lg" 
                [(ngModel)]="editingTest.imaCode"
            >
        </div>
    </div> 
</div>
<div class="row input">
    <div class="col-12">
        <label class="input" for="">DESCRIÇÃO</label>
        <div class="input-group input-group-lg">
            <textarea type="text" class="form-control"
                placeholder="Descrição" 
                (input)="emitUpdateTestEvent()"
                aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-lg" 
                [(ngModel)]="editingTest.description"
            ></textarea>
        </div>
    </div>
</div>
<br>
<div class="row" *ngIf="command == 'editing'">  
    <div class="col-md-12">
    <tabset class="menber-tabset">
        <tab id="med_electric" heading="MED ELETRICAS" (selectTab)="changeTab($event)">
            <div class="row input">
                <div class="col-sm-12 col-md-4">
                    <label class="input" for="">RESISTÊNCIA</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg"><i><b>m&#937;</b></i></span>
                        <input id="x" type="number" class="form-control"
                            step="0.1" min="0"                             
                            aria-label="Sizing example input" 
                            aria-describedby="inputGroup-sizing-lg" 
                            (input)="handleResistanceFormat()"
                            [(ngModel)]="editingTest.resistance"
                        >
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <label *ngIf="editingTest.injectorType != 'PIEZO_ELETRICO'"class="input" for="">INDUTÂNCIA</label>
                    <label *ngIf="editingTest.injectorType == 'PIEZO_ELETRICO'" class="input" for="">CAPACITÂNCIA</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg"><i>
                            <b *ngIf="injectorType != 'PIEZO_ELETRICO'">mH</b>
                            <b *ngIf="injectorType == 'PIEZO_ELETRICO'">nF</b>
                        </i></span>
                        <input type="number" class="form-control" 
                            step="0.1" min="0"
                            aria-label="Sizing example input" 
                            aria-describedby="inputGroup-sizing-lg" 
                            (input)="handleReactanceFormat()"
                            [(ngModel)]="editingTest.reactance"
                        >
                    </div>
                </div>
                <div class="col-sm-12 col-md-4" *ngIf="command == 'editing'">
                    <label class="input" for="">ISOLAMENTO</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg"><i><b>M&#937;</b></i></span>
                        <input type="number" class="form-control" 
                            step="0.1" min="0"
                            aria-label="Sizing example input" 
                            aria-describedby="inputGroup-sizing-lg" 
                            (input)="handleIsolationFormat()"
                            [(ngModel)]="editingTest.isolation"
                        >
                    </div>
                </div>
            </div>
        </tab>
        <tab id="half_load" heading="CARGA PARCIAL" (selectTab)="changeTab($event)">
            <div class="row input">
                <div class="col-sm-12 col-md-6" *ngIf="command == 'editing'">
                    <label class="input" for="">DEBITO</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg"><i><b>ml</b></i></span>
                        <input type="number" class="form-control" 
                            step="0.1" min="0"
                            aria-label="Sizing example input" 
                            aria-describedby="inputGroup-sizing-lg" 
                            (input)="handleHalfLoadFormat()"
                            [(ngModel)]="editingTest.halfLoad"
                        >
                    </div>
                </div>
                <div class="col-sm-12 col-md-6" *ngIf="command == 'editing'">
                    <label class="input" for="">RETORNO</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg"><i><b>ml</b></i></span>
                        <input type="number" class="form-control" 
                            step="0.1" min="0"
                            aria-label="Sizing example input" 
                            aria-describedby="inputGroup-sizing-lg" 
                            (input)="handleHalfLoadReturnFormat()"
                            [(ngModel)]="editingTest.halfLoadReturn"
                        >
                    </div>
                </div>
            </div>
        </tab>
        <tab id="idling" heading="MARCHA LENTA" (selectTab)="changeTab($event)">
            <div class="row input">
                <div class="col-sm-12 col-md-6" *ngIf="command == 'editing'">
                    <label class="input" for="">DEBITO</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg"><i><b>ml</b></i></span>
                        <input type="number" class="form-control"  
                            step="0.1" min="0"                           
                            aria-label="Sizing example input" 
                            aria-describedby="inputGroup-sizing-lg" 
                            (input)="handleIdlingFormat()"
                            [(ngModel)]="editingTest.idling"
                        >
                    </div>
                </div>
                <div class="col-sm-12 col-md-6" *ngIf="command == 'editing'">
                    <label class="input" for="">RETORNO</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg"><i><b>ml</b></i></span>
                        <input type="number" class="form-control"
                            step="0.1" min="0"                             
                            aria-label="Sizing example input" 
                            aria-describedby="inputGroup-sizing-lg" 
                            (input)="handleIdlingReturnFormat()"
                            [(ngModel)]="editingTest.idlingReturn"
                        >
                    </div>
                </div>
            </div>
        </tab>
        <tab id="full_load" heading="PLENA CARGA" (selectTab)="changeTab($event)">
            <div class="row input">
                <div class="col-sm-12 col-md-6" *ngIf="command == 'editing'">
                    <label class="input" for="">DEBITO</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg"><i><b>ml</b></i></span>
                        <input type="number" class="form-control"   
                            step="0.1" min="0"                          
                            aria-label="Sizing example input" 
                            aria-describedby="inputGroup-sizing-lg" 
                            (input)="handleFullLoadFormat()"
                            [(ngModel)]="editingTest.fullLoad"
                        >
                    </div>
                </div>
                <div class="col-sm-12 col-md-6" *ngIf="command == 'editing'">
                    <label class="input" for="">RETORNO</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg"><i><b>ml</b></i></span>
                        <input type="number" class="form-control"
                            step="0.1" min="0"                             
                            aria-label="Sizing example input" 
                            aria-describedby="inputGroup-sizing-lg" 
                            (input)="handleFullLoadReturnFormat()"
                            [(ngModel)]="editingTest.fullLoadReturn"
                        >
                    </div>
                </div>
            </div>
        </tab>
        <tab id="pre_injection" heading="PRÉ INJEÇÃO" (selectTab)="changeTab($event)">
            <div class="row input">
                <div class="col-sm-12 col-md-6" *ngIf="command == 'editing'">
                    <label class="input" for="">DEBITO</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg"><i><b>ml</b></i></span>
                        <input type="number" class="form-control" 
                            step="0.1" min="0"                            
                            aria-label="Sizing example input" 
                            aria-describedby="inputGroup-sizing-lg" 
                            (input)="handlePreInjectionFormat()"
                            [(ngModel)]="editingTest.preInjection"
                        >
                    </div>
                </div>
                <div class="col-sm-12 col-md-6" *ngIf="command == 'editing'">
                    <label class="input" for="">RETORNO</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg"><i><b>ml</b></i></span>
                        <input type="number" class="form-control"
                            step="0.1" min="0"                             
                            aria-label="Sizing example input" 
                            aria-describedby="inputGroup-sizing-lg" 
                            (input)="handlePreInjectionReturnFormat()"
                            [(ngModel)]="editingTest.preInjectionReturn"
                        >
                    </div>
                </div>
            </div>
        </tab>
        <tab id="comments" heading="OBSERVAÇÕES" (selectTab)="changeTab($event)">
            <div class="row input">
                <div class="col-12" *ngIf="command == 'editing'">
                    <label class="input" for="">OBSERVAÇÕES</label>
                    <div class="input-group input-group-lg">
                        <textarea type="text" class="form-control"
                            placeholder="Observções" 
                            (input)="emitUpdateTestEvent()"
                            aria-label="Sizing example input" 
                            aria-describedby="inputGroup-sizing-lg" 
                            [(ngModel)]="editingTest.comments"
                        ></textarea>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
    </div>
</div>