<div *ngIf="reportType == 'service-order'">
  <h2 class="top-title" [ngClass]="reportClass">{{tabTitle}}</h2>
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
          <tr>
              <th class="striped-table" scope="col" title="Pressão bomba">PRESSÃO(bar):</th>
              <td class="striped-table">{{plan.fullLoadPressure | number: '1.0'}}</td>
              <th class="striped-table" scope="col" title="Rotação">ROTAÇÃO(1/min):</th>
              <td class="striped-table">{{plan.fullLoadBenchRpm | number: '1.0'}}</td>
          </tr>
      </thead>
  </table>
  <table class="table table-sm">
      <thead>
          <tr>
              <th class="striped-table" scope="col" title="Largura de pulso">PULSO PWM(ms):</th>
              <td class="striped-table" >{{plan.fullLoadPulseTime 	| number: '1.0'}}</td>
              <th class="striped-table" scope="col" title="Frequência">FREQUÊNCIA(p/m):</th>
              <td class="striped-table" >{{plan.fullLoadFrequency 	| number: '1.0'}}</td>
          </tr>
      </thead>
  </table>   
    <table class="table table-sm">
        <thead>
          <tr>
              <th class="striped-table"  scope="col"></th>
              <th class="striped-table"  scope="col">MIN</th>
              <th class="striped-table"  scope="col">LIDO</th>
              <th class="striped-table"  scope="col">MAX</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" title="Quantidade vendidida em litros">DEB(ml):</th>
            <td>{{plan.minFullLoad 	| number: '1.2'}}</td>
            <td>{{test.fullLoad 		| number: '1.2'}}</td>
            <td>{{plan.maxFullLoad 	| number: '1.2'}}</td>
        </tr>
        <tr>
            <th scope="row" title="RET:al faturado">RET(ml):</th>
            <td>{{plan.minFullLoadReturn 	| number: '1.2'}}</td>
            <td>{{test.fullLoadReturn 		| number: '1.2'}}</td>
            <td>{{plan.maxFullLoadReturn 	| number: '1.2'}}</td>
        </tr>				  
        </tbody>
    </table>
  </div>
</div>

<div *ngIf="reportType == 'injector-number'">
  <h2 class="top-title" [ngClass]="reportClass">{{tabTitle}}<i>({{plan.fullLoadPressure}}bar)</i></h2>
  <div class="table-responsive">
    <table class="table table-sm">
        <thead>
          <tr>
              <th scope="col">SEQ(N)</th>
              <th *ngFor="let t of testList" scope="col">{{t.sequence}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <th scope="row" title="Débito plena carga">DEB(ml):</th>
              <td *ngFor="let t of testList">{{t.fullLoad | number: '1.2'}}</td>
          </tr>
          <tr>
            <th scope="row" title="Retorno plena carga">RET(ml):</th>
            <td *ngFor="let t of testList">{{t.fullLoadReturn | number: '1.2'}}</td>
          </tr>				  
        </tbody>
    </table>
  </div>
</div>