@import "../../../data-style.css";

.container {
    width: 100%;
}

<<<<<<< HEAD
.rep-footer {
=======
#footer {
>>>>>>> 0ad21c1 (Ajustes na formatação do relatorio de testes)
    background: #eeeeee60;
    text-align: center;
    padding-top: 0.5em;
    margin-top: 40px;
    height: 40px;
    color: grey;
}

.logo-img {
    width: 100%;
}

.title {
    color: grey;
    margin-top: 1em;
    text-align: center;
    text-shadow: 3px 3px #eeeeee;
}

.sub-title {
    text-align: center;
}

.components-img {
    margin-top: 0;
    margin-left: 2.3em;
    width: 75%;
}

.header {
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    padding: 0.5em 2em;
    margin:  0.5em 0;
}
