<div>
 	<div class="thumbnail hide-small">
		<div class="form-group side-logo-img">
			<a href="/">
	 	    	<div>
				    <img [src]="logoPath" alt="Logomarca">
				</div>
			</a>
		</div>
	</div>
	<div>	
		<div class="card">
			<div [class]="(tabId == 'comments') ? 'hidden' : 'show'">
                <app-canvas-graph
                    [valDeb]="valDeb"
                    [maxDeb]="maxDeb"
                    [minDeb]="minDeb"
                    [valRet]="valRet"
                    [maxRet]="maxRet"
                    [minRet]="minRet"
                ></app-canvas-graph>
			</div>	
			<div class="card-body" *ngIf="tabId == 'starting'">
				<app-starting-table
					[tabTitle]="tabTitle"
					[plan]="plan"
					[test]="test"
				></app-starting-table>
			</div>
			<div class="card-body" *ngIf="tabId == 'idling'">
				<app-idling-table
					[tabTitle]="tabTitle"
					[plan]="plan"
					[test]="test"
				></app-idling-table>
			</div>
			<div class="card-body" *ngIf="tabId == 'half_load'">
				<app-half-load-table
					[tabTitle]="tabTitle"
					[plan]="plan"
					[test]="test"
				></app-half-load-table>
			</div>
			<div class="card-body" *ngIf="tabId == 'full_load'">
				<app-full-load-table
					[tabTitle]="tabTitle"
					[plan]="plan"
					[test]="test"
				></app-full-load-table>
			</div>	
			<div class="card-body" *ngIf="tabId == 'pre_injection'">
				<app-pre-injection-table
					[tabTitle]="tabTitle"
					[plan]="plan"
					[test]="test"
				></app-pre-injection-table>
			</div>
			<div class="card-body" *ngIf="tabId == 'comments'">
				<app-comments
					[tabTitle]="tabTitle"
					[plan]="plan"
					[test]="test"
				>					
				</app-comments>
			</div>	
			<div class="row hide-large">
				<div class="col-6 arrow-left"><i class="bi bi-caret-left" (click)="emitArrowEvent('left')"></i></div>
				<div class="col-6 arrow-right"><i class="bi bi-caret-right" (click)="emitArrowEvent('right')"></i></div>
			</div>			  				
		</div>
	</div>
</div>		
