<div class="row" style="padding: 2em 0"> 
    <div class="col-sm-12 col-md-6">
        <label class="input" for="">NOME</label>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" 
                placeholder="Digite o nome"
                (input)="emitUpdateUserEvent()"
                aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-lg" 
                [(ngModel)]="editingUser.name"
            >
        </div>
    </div> 
    <div class="col-sm-12 col-md-6">
        <label class="input" for="">FUNÇÃO</label>
        <div class="input-group input-group-lg">
            <select class="form-select" aria-label="Default select example" 
                (change)="emitUpdateUserEvent()" 
                [(ngModel)]="editingUser.role" 
            >
            <option value="" selected>Selecione a função</option>
            <option value="OPERATOR">OPERATOR</option>
            <option value="ADMIN">ADMIN</option>
            </select>
        </div>
    </div>     
</div>
<div class="row" style="padding: 2em 0">
    <div class="col-sm-12 col-md-6">
        <label class="input" for="">LOGIN</label>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" 
                placeholder="Digite o nome"
                (input)="emitUpdateUserEvent()"
                aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-lg" 
                [(ngModel)]="editingUser.login"
            >
        </div>
    </div> 
    <div class="col-sm-12 col-md-6">
        <label class="input" for="">SENHA</label>
        <div class="input-group input-group-lg">
            <input type="password" class="form-control" 
                placeholder="Digite o nome"
                (input)="emitUpdateUserEvent()"
                aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-lg" 
                [(ngModel)]="editingUser.password"
            >
        </div>
    </div> 
</div>
<app-alert-message 
    [message]="alertMessage"
    (clearEvent)="emitClearMessage()"
></app-alert-message>