<div class="row" style="padding: 2em 0"> 
    <div class="col-sm-12 col-md-12">
        <label class="input" for="">NOME</label>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" 
                placeholder="Digite o nome"
                (input)="emitUpdateWorkshopEvent()"
                aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-lg" 
                [(ngModel)]="workshop.name"
            >
        </div>
    </div>    
</div>
<div class="row" style="padding: 2em 0">
    <div class="col-12">
        <label class="input" for="">DESCRIÇÃO</label>
        <div class="input-group input-group-lg">
            <textarea type="text" class="form-control"
                placeholder="Descrição" 
                (input)="emitUpdateWorkshopEvent()"
                aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-lg" 
                [(ngModel)]="workshop.description"
            ></textarea>
        </div>
    </div>
</div>
<app-alert-message 
    [message]="alertMessage"
    (clearEvent)="emitClearMessage()"
></app-alert-message>