<div *ngIf="reportType == 'service-order'">
    <h2 class="top-title" [ngClass]="reportClass">{{tabTitle}}({{plan.preInjectionPressure}}bar)</h2>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">MIN</th>
                    <th scope="col">LIDO</th>
                    <th scope="col">MAX</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="striped-table" scope="row" title="Quantidade vendidida em litros">DEB(ml):</th>
                    <td class="striped-table">{{plan.minPreInjection 	| number: '1.2'}}</td>
                    <td class="striped-table">{{test.preInjection 		| number: '1.2'}}</td>
                    <td class="striped-table">{{plan.maxPreInjection 	| number: '1.2'}}</td>
                </tr>
                <tr>
                    <th scope="row" title="RET:al faturado">RET(ml):</th>
                    <td>{{plan.minPreInjectionReturn | number: '1.2'}}</td>
                    <td>{{test.preInjectionReturn 	| number: '1.2'}}</td>
                    <td>{{plan.maxPreInjectionReturn | number: '1.2'}}</td>
                </tr>				  
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="reportType == 'injector-number'">
    <h2 class="top-title" [ngClass]="reportClass">{{tabTitle}}({{plan.preInjectionPressure}}bar)</h2>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">SEQ(N)</th>
                    <th *ngFor="let t of testList" scope="col">{{t.sequence}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" title="Débito pré-injeção">DEB(ml):</th>
                    <td *ngFor="let t of testList">{{t.preInjection | number: '1.2'}}</td>
                </tr>
                <tr>
                    <th scope="row" title="Retorno pré-injeção">RET(ml):</th>
                    <td *ngFor="let t of testList">{{t.preInjectionReturn | number: '1.2'}}</td>
                </tr>				  
            </tbody>
        </table>
    </div>
</div>