<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>NOME</th>
                <th>OFICINA</th>
                <th>FUNÇÃO</th>
                <th>EDT</th>
                <th>REM</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of list" (click)="emitEditingEvent(u)">
                <td>{{u.name}}</td>
                <td>{{u.workshop.name}}</td>
                <td>{{u.role}}</td>
                <td slot="right"><a href="#" onclick="return null" (click)="emitEditingEvent(u)"><i class="bi bi-pencil-square icon"></i></a></td>
                <td slot="right"><a href="#" onclick="return null" (click)="emitRemovingEvent(u)" title="Excluir" title="Excluir"  
                    data-bs-target="#removeModalToggle" data-bs-toggle="modal"><i class="bi bi-trash3 icon"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>