<!-- <div class="row" *ngIf="showSequence == 'true'">

</div> -->
<div class="row">
    <span *ngIf="showSequence == 'true'">
        <div class="col-3"><h2 class="top-title">INJETOR {{test.injectorNumber}} [ {{test.sequence}} ]</h2></div>
        <div class="col-9"><h2 class="top-title">{{tabTitle}}</h2></div>
    </span>
    <span *ngIf="showSequence == 'false'">
        <div class="col-12"><h2 class="top-title">{{tabTitle}}</h2></div>
    </span>
</div>
<div class="table-responsive">
  <table class="table table-sm  table-striped">
      <thead>
      <tr>
          <th scope="col"></th>
          <th scope="col">MIN</th>
          <th scope="col">LIDO</th>
          <th scope="col">MAX</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <th scope="row" title="Medições elétricas">RES(m&#937;):</th>
          <td>{{plan.minResistance | number: '1.2'}}</td>
          <td [style]="resColor">{{test.resistance 	| number: '1.2'}}</td>
          <td>{{plan.maxResistance | number: '1.2'}}</td>
      </tr>
      <tr>
          <th scope="row" title="RET:al faturado" *ngIf="plan.type == 'PIEZO_ELETRICO'">CAP(nF):</th>
          <th scope="row" title="RET:al faturado" *ngIf="plan.type != 'PIEZO_ELETRICO'">IND(mH):</th>
          <td>{{plan.minReactance | number: '1.2'}}</td>
          <td [style]="rctColor">{{test.reactance	   | number: '1.2'}}</td>
          <td>{{plan.maxReactance | number: '1.2'}}</td>
      </tr>
      <tr>
          <th scope="row" title="RET:al faturado">ISO(M&#937;):</th>
          <td>{{plan.minIsolation 	| number: '1.2'}}</td>
          <td [style]="isoColor">{{test.isolation 	| number: '1.2'}}</td>
          <td *ngIf="plan.maxIsolation">{{plan.maxIsolation  | number: '1.2'}}</td>
          <td *ngIf="!plan.maxIsolation" class="infinity">&infin;</td>
      </tr>		  
      </tbody>
  </table>
</div>