<div *ngIf="reportType == 'service-order'">
    <div class="row">
        <span *ngIf="showSequence == 'true'">
            <div class="col-12"><h2 class="top-title" [ngClass]="reportClass">{{tabTitle}} ( INJ_{{test.injectorNumber}} [ {{test.sequence}} ] )</h2></div>
        </span>
    </div>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">MIN</th>
                    <th scope="col">LIDO</th>
                    <th scope="col">MAX</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="striped-table" scope="row" title="Medições elétricas">RES(m&#937;):</th>
                    <td class="striped-table">{{plan.minResistance | number: '1.2'}}</td>
                    <td class="striped-table" [style]="resColor">{{test.resistance 	| number: '1.2'}}</td>
                    <td class="striped-table">{{plan.maxResistance | number: '1.2'}}</td>
                </tr>
                <tr>
                    <th scope="row" title="RET:al faturado" *ngIf="plan.type == 'PIEZO_ELETRICO'">CAP(nF):</th>
                    <th scope="row" title="RET:al faturado" *ngIf="plan.type != 'PIEZO_ELETRICO'">IND(mH):</th>
                    <td>{{plan.minReactance | number: '1.2'}}</td>
                    <td [style]="rctColor">{{test.reactance	   | number: '1.2'}}</td>
                    <td>{{plan.maxReactance | number: '1.2'}}</td>
                </tr>
                <tr>
                    <th class="striped-table" scope="row" title="RET:al faturado">ISO(M&#937;):</th>
                    <td class="striped-table">{{plan.minIsolation 	| number: '1.2'}}</td>
                    <td class="striped-table" [style]="isoColor">{{test.isolation 	| number: '1.2'}}</td>
                    <td class="striped-table" *ngIf="plan.maxIsolation">{{plan.maxIsolation  | number: '1.2'}}</td>
                    <td class="striped-table infinity" *ngIf="!plan.maxIsolation">&infin;</td>
                </tr>		  
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="reportType == 'injector-number'">
    <div class="row">
        <span *ngIf="showSequence == 'true'">
            <div class="col-12"><h2 class="top-title" [ngClass]="reportClass">{{tabTitle}} ( INJ_{{injectorNumber}} )</h2></div>
        </span>
    </div>
    <div class="table-responsive">
      <table class="table table-sm">
          <thead >
          <tr>
              <th scope="col">SEQ(N)</th>
              <th *ngFor="let t of testList" scope="col">{{t.sequence}}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <th class="striped-table" scope="row" title="Medições elétricas">RES(m&#937;):</th>
              <td *ngFor="let t of testList">{{t.resistance | number: '1.2'}}</td>
          </tr>
          <tr>
              <th scope="row" title="RET:al faturado" *ngIf="plan.type == 'PIEZO_ELETRICO'">CAP(nF):</th>
              <th scope="row" title="RET:al faturado" *ngIf="plan.type != 'PIEZO_ELETRICO'">IND(mH):</th>
              <td *ngFor="let t of testList">{{t.reactance | number: '1.2'}}</td>
          </tr>
          <tr>
              <th class="striped-table" scope="row" title="RET:al faturado">ISO(M&#937;):</th>
              <td *ngFor="let t of testList">{{t.isolation | number: '1.2'}}</td>
          </tr>		  
          </tbody>
      </table>
    </div>
</div>