/* @media(max-width:768px) {
	.sideMenu {
		display: none;
	}
	.topMenu {
		display: block;
	}
}

@media(min-width:768px) {
	.sideMenu {
		display: block;
		padding-right: 0 !important;
	}
	.topMenu {
		display: none;
	}
} */

.side-logo-img {
	margin: 0.5em auto;
    border-style: solid;
    border-color: #f0f0f0;
    border-radius: 5px;
} 

.top-title {
	text-align: center;
	color: darkgrey;
	font-size: 1.4em;
	margin-top: 1em;
}

h4 {
	text-align: center;
}

th, td {
	text-align: right;
}

h4, th {
	color: #aaaaaa;
	font-size: 1.5em;
	font-weight: 300;
}

td {
	color: darkgray;
	font-size: 1.5em;
	font-weight: 500;
}

td.infinity {
	padding-right: 0.5em;
}

p {
	text-align: center;
	font-size: small;
}

.card-body {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

#debCanvas {
	background-image: url("../../../assets/img/proveta.png");
	/* background: green; */
	background-size: 100% 100%;
	background-position-x: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 12em;
	margin-top: 2em;
}

#retCanvas {
	background-image: url("../../../assets/img/proveta.png");
	/* background: blue; */
	background-size: 100% 100%;
	background-position-x: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 12em;
	margin-top: 2em;
}

#comments {
	background-color: #eeeeee;
	border-radius: 10px;
	margin: 1.8em 1em 1em 0;
	height: 12em;
}


.comments {
	color: #202020;
	text-align: center;
	padding-top: 0.5em
}

.components {
	width: 60%;
	margin: auto 20%
}