<div>
 	<div class="thumbnail hide-small">
		<div class="form-group side-logo-img">
			<a href="/">
	 	    	<div>
				    <img src="assets/img/logo.png" alt="Logomarca">
				</div>
			</a>
		</div>
	</div>
	<div>	
		<div class="card">
			<div [ngClass]="(tabId == 'med_electric') ? 'show' : 'hidden'">
				<div class="row">
					<div class="col-sm-12">
						<img class="card-img-top" class="components" src="../../../assets/img/componente.png">
					</div>
				</div>
			</div>
			<div [class]="(tabId == 'med_electric' || tabId == 'comments') ? 'hidden' : 'show'">
				<div class="row">
					<div class="col-sm-6" style="width: 50%">
						<canvas id="debCanvas" #debCanvas></canvas>
						<h4>DÉB</h4>
					</div>
					<div class="col-sm-6"  style="width: 50%">
						<canvas id="retCanvas" #retCanvas></canvas>
						<h4>RET</h4>
					</div>
				</div>
			</div>	
			<div class="card-body" *ngIf="tabId == 'med_electric'">
				<app-med-electric-table
					[resColor]="resColor"
					[rctColor]="rctColor"
					[isoColor]="isoColor"
					[tabTitle]="tabTitle"
					[editingPlan]="editingPlan"
					[editingTest]="editingTest"
				></app-med-electric-table>
			</div>
			<div class="card-body" *ngIf="tabId == 'half_load'">
				<app-half-load-table
					[tabTitle]="tabTitle"
					[editingPlan]="editingPlan"
					[editingTest]="editingTest"
				></app-half-load-table>
			</div>
			<div class="card-body" *ngIf="tabId == 'idling'">
				<app-idling-table
					[tabTitle]="tabTitle"
					[editingPlan]="editingPlan"
					[editingTest]="editingTest"
				></app-idling-table>
			</div>
			<div class="card-body" *ngIf="tabId == 'full_load'">
				<app-full-load-table
					[tabTitle]="tabTitle"
					[editingPlan]="editingPlan"
					[editingTest]="editingTest"
				></app-full-load-table>
			</div>	
			<div class="card-body" *ngIf="tabId == 'pre_injection'">
				<app-pre-injection-table
					[tabTitle]="tabTitle"
					[editingPlan]="editingPlan"
					[editingTest]="editingTest"
				></app-pre-injection-table>
			</div>
			<div class="card-body" *ngIf="tabId == 'comments'">
				<app-comments
					[tabTitle]="tabTitle"
					[editingPlan]="editingPlan"
					[editingTest]="editingTest"
				>					
				</app-comments>
			</div>	
			<div class="row hide-large">
				<div class="col-6 arrow-left"><i class="bi bi-caret-left" (click)="emitArrowEvent('left')"></i></div>
				<div class="col-6 arrow-right"><i class="bi bi-caret-right" (click)="emitArrowEvent('right')"></i></div>
			</div>			  				
		</div>
	</div>
</div>		
