<div class="modal fade" id="injectorNumberFilterModalToggle" aria-labelledby="injectorNumberModalToggleLabel" tabindex="-1" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="injectorNumberFilterModalToggleLabel">FILTRAR NUMERO DO INJETOR</h1>
		  <button id="injectorNumberFilterCloseModalButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="table-responsive filter-input">
				<label for="">DIGITE O NUMERO DO INJETOR</label>
				<div class="input-group input-group-lg">
					<input type="text" class="form-control" 
						placeholder="Número do injetor"
						aria-label="Sizing example input" 
						aria-describedby="inputGroup-sizing-lg" 
						[(ngModel)]="filteredInjectorNumber"
					>
				</div>
				<app-alert-message 
					[message]="alertMessage"
					(clearEvent)="emitClearAlertMessage()"
				></app-alert-message>
			</div>
		</div>	
		<div class="modal-footer">
			<button class="btn btn-outline-secondary btn-modal" data-bs-dismiss="modal">CANCELAR</button>
			<button class="btn btn-outline-primary btn-modal" (click)="emitInjectorNumberFilter()">FILTRAR</button>
	    </div>	
	  </div>
	</div>	
  </div>