<div *ngIf="reportType == 'service-order'">
    <h2 class="top-title" [ngClass]="reportClass">{{tabTitle}}</h2>                               
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th class="striped-table" scope="col" title="Pressão bomba">PRESSÃO(bar):</th>
                    <td class="striped-table">{{plan.halfLoadPressure | number: '1.0'}}</td>
                    <th class="striped-table" scope="col" title="Rotação">ROTAÇÃO(1/min):</th>
                    <td class="striped-table">{{plan.halfLoadBenchRpm | number: '1.0'}}</td>
                </tr>
            </thead>
        </table>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th class="striped-table" scope="col" title="Largura de pulso">PULSO PWM(ms):</th>
                    <td class="striped-table">{{plan.halfLoadPulseTime 	| number: '1.0'}}</td>
                    <th class="striped-table" scope="col" title="Frequência">FREQUÊNCIA(p/m):</th>
                    <td class="striped-table">{{plan.halfLoadFrequency 	| number: '1.0'}}</td>
                </tr>
            </thead>
        </table>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th class="striped-table" scope="col"></th>
                    <th class="striped-table" scope="col">MIN</th>
                    <th class="striped-table" scope="col">LIDO</th>
                    <th class="striped-table" scope="col">MAX</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" title="Débito meia carga">DEB(ml):</th>
                <td>{{plan.minHalfLoad 	| number: '1.2'}}</td>
                <td>{{test.halfLoad 		| number: '1.2'}}</td>
                <td>{{plan.maxHalfLoad 	| number: '1.2'}}</td>
            </tr>
            <tr>
                <th scope="row" title="Retorno meia carga">RET(ml):</th>
                <td>{{plan.minHalfLoadReturn 	| number: '1.2'}}</td>
                <td>{{test.halfLoadReturn 		| number: '1.2'}}</td>
                <td>{{plan.maxHalfLoadReturn 	| number: '1.2'}}</td>
            </tr>				  
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="reportType == 'injector-number'">
    <h2 class="top-title" [ngClass]="reportClass">{{tabTitle}}<i>({{plan.halfLoadPressure}}bar)</i></h2>                               
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">SEQ(n)</th>
                    <th *ngFor="let t of testList" scope="col">{{t.sequence}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" title="Debito meia carga">DEB(ml):</th>
                    <td *ngFor="let t of testList">{{t.halfLoad | number: '1.2'}}</td>
                </tr>
                <tr>
                    <th scope="row" title="Debito meia retorno">RET(ml):</th>
                    <td *ngFor="let t of testList">{{t.halfLoadReturn	| number: '1.2'}}</td>
                </tr>				  
            </tbody>
        </table>
    </div>
</div>