<app-header 
	[test]="test"
	[testCommand]="testCommand"
	(requestPlansEvent)="handlePlanLinkEvent()"
	(requestVehiclesEvent)="handleVehicleLinkEvent()"
	(requestWorkshopsEvent)="handleWorkshopLinkEvent()"
	(requestInjectorsEvent)="handleInjectorLinkEvent()"
	(requestUsersEvent)="handleUserLinkEvent()"
	(reportEvent)="setReportFile($event)"
></app-header>
 <div class="container-fluid">
	<input id="page_id" type="hidden" value="home_admin">
	<input id="base_url" type="hidden" value="/" >

   <div class="row">
	   <div class="col-md-4">
		   <app-aside
		   	(arrowEvent)="handleArrowEvent($event)"
		   >
			</app-aside>
	   </div>
	   <div class="col-sm-0 col-md-8">
			<section class="right-content">
				<div class="row">
					<div class="col-md-3">
						<button type="button" 
							(click)="handleTestCommandButton()" 
							class="btn btn-outline-primary btn-block top-button" 
							>{{testCommandButton}}</button>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-3 small">
								<label>DATA INICIO</label>
								<div class="input-group mb-3">
									<div class="input-group-text">
									  <input class="form-check-input mt-0" type="checkbox" [(ngModel)]="enabledDateIni" 
									  	aria-label="Checkbox" title="Seleciona todas as datas">
									</div>
									<input type="date" class="form-control" aria-describedby="basic-addon1" [disabled]="enabledDateIni"
										(change)="filterTest()" [ngModel]="filteredDateIni | date:'yyyy-MM-dd'" (ngModelChange)="filteredDateIni = $event" >
								  </div>
							</div>
							<div class="col-md-3 small">
								<label>DATA FIM</label>
								<div class="input-group mb-3">
									<div class="input-group-text">
									  <input class="form-check-input mt-0" type="checkbox" [(ngModel)]="enabledDateEnd" 
									  	aria-label="Checkbox" title="Seleciona todas as datas">
									</div>
									<input type="date" class="form-control" aria-describedby="basic-addon1" [disabled]="enabledDateEnd"
										(change)="filterTest()" [ngModel]="filteredDateEnd | date:'yyyy-MM-dd'" (ngModelChange)="filteredDateEnd = $event" >
								  </div>
							</div>							
							<div class="col-md-3 small">
								<label for="">MODELO</label>
								<select class="form-select" aria-label="Default select example" [(ngModel)]="filteredInjector" (change)="doTestCombinedFilter()">
									<option value="ALL"selected>TODOS</option>
									<option *ngFor="let d of injectorList" [value]="d.id">{{d.model}}</option>
								</select>
							</div>
							<div class="col-md-3 small">
								<label for="">VEÍCULO</label>
								<select class="form-select" aria-label="Default select example" [(ngModel)]="filteredVehicle" (change)="doTestCombinedFilter()">
									<option value="ALL"selected>TODOS</option>
									<option *ngFor="let d of vehicleList" [value]="d.id">{{d.plate}}</option>
								</select>
							</div>
						</div>
					</div>	
				</div>	
				<hr class="colorgraph">
					<app-top-message></app-top-message>
					<app-test-form
						*ngIf="testCommand == 'editing' || testCommand == 'creating'" 
						[command]='testCommand'	
						[injectorType]='test.injectorType'					
						[planList]='planList'
						[vehicleList]='vehicleList'						
						[test]='test'
						[injectorList]='injectorList'						
						(createEvent)='handleCreateTestEvent($event)'
						(updateEvent)='handleUpdateTestEvent($event)'
						(tabbingEvent)='handleTabbingTestEvent($event)'
						(updatePlanEvent)='handleUpdateTestPlanEvent($event)'
						(updateInjectorEvent)='handleUpdateTestInjectorEvent($event)'
					></app-test-form>  				        
					<app-test-table
						*ngIf="testCommand == 'listing'"
						[list]="filteredList"
						[filteredField]="filteredField"
						(commandEvent)="handleTestCommandEvent($event)"
						(resetFilterEvent)="handleResetFilterEvent()"
					></app-test-table>
				<hr class="colorgraph">
				<div>
					<button class="btn btn-outline-primary btn-block btn-right" 
						tabindex="12"
						(click)="handleTestCommandButton()"
					>{{testCommandButton}}</button>					
					<button id="testListButton" class="btn btn-outline-secondary btn-block btn-right" 
						*ngIf="testCommand != 'listing'"
						tabindex="11"
						(click)="cancelTestCommandButton()"
					>VOLTAR</button>
				</div>
			</section>
	   </div>
   </div>                      
   <app-plan-modal
		[plan]="plan"
		[list]="planList"
		[modalCommand]="modalCommand"
		[alertMessage]="alertMessage"
		[modalCommandButton]="modalCommandButton"
		(clearEvent)="clearAlertMessage()"
		(updateEvent)="handleUpdatePlanEvent($event)"
		(commandEvent)="handlePlanCommandEvent($event)"
		(cancelButtonEvent)="cancelPlanCommandButton()"
		(commandButtonEvent)="handlePlanCommandButton()"
   ></app-plan-modal>
   <app-vehicle-modal
		[vehicle]="vehicle"
		[list]="vehicleList"
		[modalCommand]="modalCommand"
		[alertMessage]="alertMessage"
		[modalCommandButton]="modalCommandButton"
		(clearEvent)="clearAlertMessage()"
		(updateEvent)="handleUpdateVehicleEvent($event)"
		(commandEvent)="handleVehicleCommandEvent($event)"
		(cancelButtonEvent)="cancelVehicleCommandButton()"
		(commandButtonEvent)="handleVehicleCommandButton()"
   ></app-vehicle-modal>
   <app-injector-modal
		[injector]="injector"
		[list]="injectorList"
		[planList]="planList"
		[modalCommand]="modalCommand"
		[alertMessage]="alertMessage"
		[modalCommandButton]="modalCommandButton"
		(clearEvent)="clearAlertMessage()"
		(updateEvent)="handleUpdateInjectorEvent($event)"
		(commandEvent)="handleInjectorCommandEvent($event)"
		(cancelButtonEvent)="cancelInjectorCommandButton()"
		(commandButtonEvent)="handleInjectorCommandButton()"
   ></app-injector-modal>
   <app-user-modal
		[user]="user"
		[list]="userList"
		[workshopList]="workshopList"
		[modalCommand]="modalCommand"
		[alertMessage]="alertMessage"
		[modalCommandButton]="modalCommandButton"
		(clearEvent)="clearAlertMessage()"
		(updateEvent)="handleUpdateUserEvent($event)"
		(commandEvent)="handleUserCommandEvent($event)"
		(cancelButtonEvent)="cancelUserCommandButton()"
		(commandButtonEvent)="handleUserCommandButton()"
   ></app-user-modal>
   <app-workshop-modal
		[workshop]="workshop"
		[list]="workshopList"
		[modalCommand]="modalCommand"
		[alertMessage]="alertMessage"
		[modalCommandButton]="modalCommandButton"
		(clearEvent)="clearAlertMessage()"
		(updateEvent)="handleUpdateWorkshopEvent($event)"
		(commandEvent)="handleWorkshopCommandEvent($event)"
		(cancelButtonEvent)="cancelWorkshopCommandButton()"
		(commandButtonEvent)="handleWorkshopCommandButton()"
   ></app-workshop-modal>
   <app-remove-modal
   		[message]="alertMessage"
   		[removingName]="removingName"
   		[removingEvent]="removingEvent"
   		[removingObjects]="removingObjects"
   		[removingAlertTopTitle]="removingAlertTopTitle"
   		[removingAlertMessage01]="removingAlertMessage01"
   		[removingAlertMessage02]="removingAlertMessage02"
		(clearEvent)="clearAlertMessage()"
		(cancelEvent)="cancelRemoveCommandButton()"
		(confirmEvent)="handleModalRemoveConfirm()"
   ></app-remove-modal>
   <app-inj-number-filter-modal
   		[message]="alertMessage"
		(clearEvent)="clearAlertMessage()"
   		(filterEvent)="doInjectorNumberFilter($event)"
   ></app-inj-number-filter-modal>
   <app-customer-filter-modal
		[message]="alertMessage"
		(clearEvent)="clearAlertMessage()"
	  	(filterEvent)="doCustomerFilter($event)"
   ></app-customer-filter-modal>
   <app-date-filter-modal
		[message]="alertMessage"
		(clearEvent)="clearAlertMessage()"
		(filterEvent)="doDateFilter($event)"
   ></app-date-filter-modal>
   <app-inj-model-filter-modal
		[message]="alertMessage"
		(clearEvent)="clearAlertMessage()"
		(filterEvent)="doInjectorModelFilter($event)"
   ></app-inj-model-filter-modal>
  <div class="modal fade" id="vehicleFilterModalToggle" aria-labelledby="vehicleFilterModalToggleLabel" tabindex="-1" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="vehicleFilterModalToggleLabel">FILTRAR POR VEÍCULO</h1>
		  <button id="vehicleFilterCloseModalButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		<div class="table-responsive filter-input">
			<label for="">DIGITE A PLACA</label>
			<div class="input-group input-group-lg">
				<input type="text" class="form-control" 
					placeholder="Placa do veículo"
					aria-label="Sizing example input" 
					aria-describedby="inputGroup-sizing-lg" 
					[(ngModel)]="filteredVechiclePlate"
				>
			</div>
			<app-alert-message 
				[message]="alertMessage"
				(clearEvent)="clearAlertMessage()"
			></app-alert-message>
		</div>
		</div>	
		<div class="modal-footer">
			<button class="btn btn-outline-secondary btn-modal" data-bs-dismiss="modal">CANCELAR</button>
			<button class="btn btn-outline-primary btn-modal" (click)="doTestVehicleFilter()">FILTRAR</button>
	    </div>	
	  </div>
	</div>	
  </div>
  <div class="modal fade" id="serviceOrderFilterModalToggle" aria-labelledby="serviceOrderFilterModalToggleLabel" tabindex="-1" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="serviceOrderFilterModalToggleLabel">FILTRAR POR ORDEM DE SERVIÇO</h1>
		  <button id="serviceOrderFilterCloseModalButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		<div class="table-responsive filter-input">
			<label for="">ORDEM DE SERVIÇO</label>
			<div class="input-group input-group-lg">
				<input type="text" class="form-control" 
					placeholder="Digite o número da OS"
					aria-label="Sizing example input" 
					aria-describedby="inputGroup-sizing-lg" 
					[(ngModel)]="filteredServiceOrder"
				>
			</div>
			<app-alert-message 
				[message]="alertMessage"
				(clearEvent)="clearAlertMessage()"
			></app-alert-message>
		</div>
		</div>	
		<div class="modal-footer">
			<button class="btn btn-outline-secondary btn-modal" data-bs-dismiss="modal">CANCELAR</button>
			<button class="btn btn-outline-primary btn-modal" (click)="doTestFilteredOrderFilter()">FILTRAR</button>
	    </div>	
	  </div>
	</div>	
  </div>      
</div>
<app-footer></app-footer>
