<app-header 
	[test]="test"
	[testCommand]="testCommand"
	(requestPlansEvent)="handlePlanLinkEvent()"
	(requestVehiclesEvent)="handleVehicleLinkEvent()"
	(requestWorkshopsEvent)="handleWorkshopLinkEvent()"
	(requestInjectorsEvent)="handleInjectorLinkEvent()"
	(requestUsersEvent)="handleUserLinkEvent()"
	(reportEvent)="setReportFile($event)"
></app-header>
 <div class="container-fluid">
	<input id="page_id" type="hidden" value="home_admin">
	<input id="base_url" type="hidden" value="/" >

   <div class="row">
	   <div class="col-md-4">
		   <app-aside
		   	(arrowEvent)="handleArrowEvent($event)"
		   >
			</app-aside>
	   </div>
	   <div class="col-sm-0 col-md-8">
			<section class="right-content">
				<div class="row">
					<header class="header">
						<div class="wrapper">
							<button type="button" 
								(click)="handleTestCommandButton()" 
								class="btn btn-outline-primary btn-block top-button" 
								>{{testCommandButton}}
							</button>
						  <div class="header-text">
							<h1 class="title" [ngClass]="reportClass">INJETOR</h1>
						  </div>
						</div>
					</header> 
					<!-- <div class="col-md-3">
						<button type="button" 
							(click)="handleTestCommandButton()" 
							class="btn btn-outline-primary btn-block top-button" 
							>{{testCommandButton}}</button>
					</div>
					<div class="col-md-9">
						<h1>TESTE DE INJETOR</h1>
					</div> -->
					<!--<div class="col-md-9">
						<div class="row">
							<div class="col-md-3 small">
								<label>DATA INICIO</label>
								<div class="input-group mb-3">
									<div class="input-group-text">
									  <input class="form-check-input mt-0" type="checkbox" [(ngModel)]="enabledDateIni" 
									  	aria-label="Checkbox" title="Seleciona todas as datas">
									</div>
									<input type="date" class="form-control" aria-describedby="basic-addon1" [disabled]="enabledDateIni"
										(change)="filterTest()" [ngModel]="filtered.dateIni | date:'yyyy-MM-dd'" (ngModelChange)="filtered.dateIni = $event" >
								  </div>
							</div>
							<div class="col-md-3 small">
								<label>DATA FIM</label>
								<div class="input-group mb-3">
									<div class="input-group-text">
									  <input class="form-check-input mt-0" type="checkbox" [(ngModel)]="enabledDateEnd" 
									  	aria-label="Checkbox" title="Seleciona todas as datas">
									</div>
									<input type="date" class="form-control" aria-describedby="basic-addon1" [disabled]="enabledDateEnd"
										(change)="filterTest()" [ngModel]="filtered.dateEnd | date:'yyyy-MM-dd'" (ngModelChange)="filtered.dateEnd = $event" >
								  </div>
							</div>							
							<div class="col-md-3 small">
								<label for="">MODELO</label>
								<select class="form-select" aria-label="Default select example" [(ngModel)]="filtered.injector" (change)="doTestCombinedFilter()">
									<option value="ALL"selected>TODOS</option>
									<option *ngFor="let d of injectorList" [value]="d.id">{{d.model}}</option>
								</select>
							</div>
							<div class="col-md-3 small">
								<label for="">VEÍCULO</label>
								<select class="form-select" aria-label="Default select example" [(ngModel)]="filtered.vehicle" (change)="doTestCombinedFilter()">
									<option value="ALL"selected>TODOS</option>
									<option *ngFor="let d of vehicleList" [value]="d.id">{{d.plate}}</option>
								</select>
							</div>
						</div>
					</div>	-->
				</div>	
				<hr class="colorgraph">
					<app-top-message></app-top-message>
					<app-test-form
						*ngIf="testCommand == 'editing' || testCommand == 'creating'" 
						[command]='testCommand'	
						[injectorType]='test.injectorType'					
						[planList]='planList'
						[vehicleList]='vehicleList'						
						[test]='test'
						[injectorList]='injectorList'						
						(createEvent)='handleCreateTestEvent($event)'
						(updateEvent)='handleUpdateTestEvent($event)'
						(tabbingEvent)='handleTabbingTestEvent($event)'
						(updatePlanEvent)='handleUpdateTestPlanEvent($event)'
						(updateInjectorEvent)='handleUpdateTestInjectorEvent($event)'
					></app-test-form>  				        
					<app-test-table
						*ngIf="testCommand == 'listing'"
						[list]="filteredList"
						[filteredField]="filtered.fieldList"
						(commandEvent)="handleTestCommandEvent($event)"
						(resetFilterEvent)="handleResetFilterEvent($event)"
					></app-test-table>
				<hr class="colorgraph">
				<div>
					<button class="btn btn-outline-primary btn-block btn-right" 
						tabindex="12"
						(click)="handleTestCommandButton()"
					>{{testCommandButton}}</button>					
					<button id="testListButton" class="btn btn-outline-secondary btn-block btn-right" 
						*ngIf="testCommand != 'listing'"
						tabindex="11"
						(click)="cancelTestCommandButton()"
					>VOLTAR</button>
				</div>
			</section>
	   </div>
   </div>                      
   <app-plan-modal
		[plan]="plan"
		[list]="planList"
		[modalCommand]="modalCommand"
		[alertMessage]="alertMessage"
		[modalCommandButton]="modalCommandButton"
		(clearEvent)="clearAlertMessage()"
		(updateEvent)="handleUpdatePlanEvent($event)"
		(commandEvent)="handlePlanCommandEvent($event)"
		(cancelButtonEvent)="cancelPlanCommandButton()"
		(commandButtonEvent)="handlePlanCommandButton()"
   ></app-plan-modal>
   <app-vehicle-modal
		[vehicle]="vehicle"
		[list]="vehicleList"
		[modalCommand]="modalCommand"
		[alertMessage]="alertMessage"
		[modalCommandButton]="modalCommandButton"
		(clearEvent)="clearAlertMessage()"
		(updateEvent)="handleUpdateVehicleEvent($event)"
		(commandEvent)="handleVehicleCommandEvent($event)"
		(cancelButtonEvent)="cancelVehicleCommandButton()"
		(commandButtonEvent)="handleVehicleCommandButton()"
   ></app-vehicle-modal>
   <app-injector-modal
		[injector]="injector"
		[list]="injectorList"
		[planList]="planList"
		[modalCommand]="modalCommand"
		[alertMessage]="alertMessage"
		[modalCommandButton]="modalCommandButton"
		(clearEvent)="clearAlertMessage()"
		(updateEvent)="handleUpdateInjectorEvent($event)"
		(commandEvent)="handleInjectorCommandEvent($event)"
		(cancelButtonEvent)="cancelInjectorCommandButton()"
		(commandButtonEvent)="handleInjectorCommandButton()"
   ></app-injector-modal>
   <app-user-modal
		[user]="user"
		[list]="userList"
		[workshopList]="workshopList"
		[modalCommand]="modalCommand"
		[alertMessage]="alertMessage"
		[modalCommandButton]="modalCommandButton"
		(clearEvent)="clearAlertMessage()"
		(updateEvent)="handleUpdateUserEvent($event)"
		(commandEvent)="handleUserCommandEvent($event)"
		(cancelButtonEvent)="cancelUserCommandButton()"
		(commandButtonEvent)="handleUserCommandButton()"
   ></app-user-modal>
   <app-workshop-modal
		[workshop]="workshop"
		[list]="workshopList"
		[modalCommand]="modalCommand"
		[alertMessage]="alertMessage"
		[modalCommandButton]="modalCommandButton"
		(clearEvent)="clearAlertMessage()"
		(updateEvent)="handleUpdateWorkshopEvent($event)"
		(commandEvent)="handleWorkshopCommandEvent($event)"
		(cancelButtonEvent)="cancelWorkshopCommandButton()"
		(commandButtonEvent)="handleWorkshopCommandButton()"
   ></app-workshop-modal>
   <app-remove-modal
   		[alertMessage]="alertMessage"
   		[removingName]="removingName"
   		[removingEvent]="removingEvent"
   		[removingObjects]="removingObjects"
   		[removingAlertTopTitle]="removingAlertTopTitle"
   		[removingAlertMessage01]="removingAlertMessage01"
   		[removingAlertMessage02]="removingAlertMessage02"
		(clearEvent)="clearAlertMessage()"
		(cancelEvent)="cancelRemoveCommandButton()"
		(confirmEvent)="handleModalRemoveConfirm()"
   ></app-remove-modal>
   <app-inj-number-filter-modal
   		[message]="alertMessage"
		(clearEvent)="clearAlertMessage()"
   		(filterEvent)="setFieldFilter($event)"
   ></app-inj-number-filter-modal>
   <app-customer-filter-modal
		[message]="alertMessage"
		(clearEvent)="clearAlertMessage()"
	  	(filterEvent)="setFieldFilter($event)"
   ></app-customer-filter-modal>
   <app-date-filter-modal
		[message]="alertMessage"
		(clearEvent)="clearAlertMessage()"
		(filterEvent)="setFieldFilter($event)"
   ></app-date-filter-modal>
   <app-inj-model-filter-modal
		[message]="alertMessage"
		(clearEvent)="clearAlertMessage()"
		(filterEvent)="setFieldFilter($event)"
   ></app-inj-model-filter-modal>
   <app-vehicle-filter-modal
		[message]="alertMessage"
		(clearEvent)="clearAlertMessage()"
		(filterEvent)="setFieldFilter($event)"
   ></app-vehicle-filter-modal>
   <app-service-order-filter-modal
		[message]="alertMessage"
		(clearEvent)="clearAlertMessage()"
		(filterEvent)="setFieldFilter($event)"
   ></app-service-order-filter-modal>
</div>
<app-footer></app-footer>
