<div *ngIf="reportType == 'service-order'">
    <h2 class="top-title" [ngClass]="reportClass">{{tabTitle}}
        <span *ngIf="showSequence == 'true'">( INJ_{{test.injectorNumber}} [ {{test.sequence}} ] )</span>
    </h2>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th class="striped-table" scope="col" title="Pressão bomba">PRES(bar):</th>
                    <td class="striped-table">{{plan.startingPressure | number: '1.0'}}</td>
                    <th class="striped-table" scope="col" title="Rotação">ROT(1/min):</th>
                    <td class="striped-table">{{plan.startingBenchRpm | number: '1.0'}}</td>
                </tr>
            </thead>
        </table>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th class="striped-table" scope="col" title="Largura de pulso">PULSO(ms):</th>
                    <td class="striped-table">{{plan.startingPulseTime 	| number: '1.0'}}</td>
                    <th class="striped-table" scope="col" title="Frequência">FREQ(p/m):</th>
                    <td class="striped-table">{{plan.startingFrequency 	| number: '1.0'}}</td>
                </tr>
            </thead>
        </table>       
        <table class="table table-sm">
            <thead>
                <tr>
                    <th class="striped-table" scope="col"></th>
                    <th class="striped-table" scope="col">MIN</th>
                    <th class="striped-table" scope="col">LIDO</th>
                    <th class="striped-table" scope="col">MAX</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" title="Quantidade vendidida em litros">DEB(ml):</th>
                <td>{{plan.minStarting 	| number: '1.2'}}</td>
                <td>{{test.starting 		| number: '1.2'}}</td>
                <td>{{plan.maxStarting 	| number: '1.2'}}</td>
            </tr>
            <tr>
                <th scope="row" title="RET:al faturado">RET(ml):</th>
                <td>{{plan.minStartingReturn 	| number: '1.2'}}</td>
                <td>{{test.startingReturn 		| number: '1.2'}}</td>
                <td>{{plan.maxStartingReturn 	| number: '1.2'}}</td>
            </tr>
            </tbody>
        </table>
    </div> 
</div>
<div *ngIf="reportType == 'injector-number'">
    <h2 class="top-title" [ngClass]="reportClass">{{tabTitle}}<i>({{plan.startingPressure}}bar)</i></h2>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">SEQ(N)</th>
                    <th *ngFor="let t of testList" scope="col">{{t.sequence}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th  scope="row" title="Débito marcha lenta">DEB(ml):</th>
                    <td *ngFor="let t of testList">{{t.starting | number: '1.2'}}</td>
                </tr>
                <tr>
                    <th  scope="row" title="Retorno marcha lenta">RET(ml):</th>
                    <td *ngFor="let t of testList">{{t.startingReturn | number: '1.2'}}</td>
                </tr>				  
            </tbody>
        </table>
    </div> 
</div>