<nav class="navbar navbar-expand-md navbar-light bg-light" aria-label="Fourth navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class="top-logo-img" src="assets/img/logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" 
        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a id="planMenuLink" class="a-link nav-link px-2 text-secondary" data-bs-target="#planModalToggle" data-bs-toggle="modal" (click)="emitRequestPlansEvent()">
            <i class="bi bi-chat-right-text"></i> PLANOS</a>
        </li>
        <li class="nav-item">
          <a id="vehicleMenuLink" class="a-link nav-link px-2 text-secondary" data-bs-target="#vehicleModalToggle" data-bs-toggle="modal" (click)="emitRequestVehiclesEvent()">
            <i class="bi bi-truck"></i> VEÍCULOS</a>            
        </li>        
        <li class="nav-item">
          <a id="injectorMenuLink" class="a-link nav-link px-2 text-secondary" data-bs-target="#injectModalToggle" data-bs-toggle="modal" (click)="emitRequestInjectorsEvent()">
            <i class="bi bi-droplet-half"></i> INJETORES</a>            
        </li>
        <li class="nav-item" *ngIf="logged.role == 'ADMIN'">              
          <!-- <a class="a-link nav-link px-2 text-secondary" data-bs-target="#reportModalToggle" data-bs-toggle="modal">
            <i class="bi bi-card-checklist"></i> RELATÓRIO</a> -->
            <div class="nav-item dropdown">
              <a class="a-link nav-link dropdown-toggle px-2 text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-card-checklist"></i> RELATÓRIO
              </a>
              <ul class="dropdown-menu">
                <li><a class="a-link dropdown-item" data-bs-target="#serviceOrderReportModalToggle" data-bs-toggle="modal">
                  <i class="bi bi-box-arrow-right"></i> POR ORDEM DE SERVIÇO</a></li>
                <li><a class="a-link dropdown-item" data-bs-target="#injectorNumberReportModalToggle" data-bs-toggle="modal">
                  <i class="bi bi-box-arrow-right"></i> POR INJETOR</a></li>
              </ul>
            </div>
        </li>
      </ul>
      <div class="nav-item dropdown">
        <a class="a-link nav-link px-2 text-secondary" *ngIf="!isAuthenticated()">
          <i class="bi bi-box-arrow-in-right"></i> Login
        </a>
      </div>
      <div class="nav-item dropdown"  *ngIf="isAuthenticated()">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <span *ngIf="logged">Olá, {{logged.name}}</span>
        </a>
        <ul class="dropdown-menu">
          <li><a class="a-link dropdown-item" (click)="logout()">
            <i class="bi bi-box-arrow-right"></i> Sair</a></li>
        </ul>
      </div>
    </div>
  </div>
    <!-- ---------------------------------------------------------- -->
    <div class="modal fade" id="serviceOrderReportModalToggle" aria-labelledby="serviceOrderReportModalToggleLabel" tabindex="-1" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="serviceOrderReportModalToggleLabel">RELATORIO POR ORDEM DE SERVIÇO</h1>
          <button id="serviceOrderReportModalToggleCloseModalButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <div class="table-responsive filter-input">
          <label for="">DIGITE A ORDEM DE SERVIÇO</label>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" 
              placeholder="Ordem de serviço"
              aria-label="Sizing example input" 
              aria-describedby="inputGroup-sizing-lg" 
              [(ngModel)]="serviceOrder"
            >
          </div>
          <app-alert-message 
            [message]="alertMessage"
            (clearEvent)="clearAlertMessage()"
          ></app-alert-message>
        </div>
        </div>	
        <div class="modal-footer">
          <button class="btn btn-outline-secondary btn-modal" data-bs-dismiss="modal">CANCELAR</button>
          <button class="btn btn-outline-primary btn-modal" (click)="handleTestReport()">GERAR</button>
          </div>	
        </div>
      </div>	
      </div> 
      <!-- ---------------------------------------------------------- -->
      <div class="modal fade" id="injectorNumberReportModalToggle" aria-labelledby="injectorNumberReportModalToggleLabel" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="injectorNumberReportModalToggleLabel">RELATORIO POR NUMEROP DO INJETOR</h1>
            <button id="injectorNumberReportModalToggleCloseModalButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          <div class="table-responsive filter-input">
            <label for="">DIGITE O NUMERO DO INJETOR</label>
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" 
                placeholder="Número do injetor"
                aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-lg" 
                [(ngModel)]="injectorNumber"
              >
            </div>
            <app-alert-message 
              [message]="alertMessage"
              (clearEvent)="clearAlertMessage()"
            ></app-alert-message>
          </div>
          </div>	
          <div class="modal-footer">
            <button class="btn btn-outline-secondary btn-modal" data-bs-dismiss="modal">CANCELAR</button>
            <button class="btn btn-outline-primary btn-modal" (click)="handleTestReport()">GERAR</button>
            </div>	
          </div>
        </div>	
      </div> 
      <!-- ---------------------------------------------------------- -->
</nav>